{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<div class="row my-4 my-md-5">
  <!-- form -->
  <div class="col-12 col-md-6 d-flex flex-column">
    <h2 class="logo-font mb-2">{% trans "Sign Up" %}</h2>
    <hr class="text-secondary w-100" />

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <form class="signup h-100 d-flex flex-column justify-content-between" id="signup_form"
      method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      <div>
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
      </div>
      <!-- set buttons to bottom of form -->
      <div class="">
        <a class="btn btn-outline-secondary" href="{% url 'account_login' %}">Back to Login</a>
        <button type="submit" class="btn btn-success">{% trans "Sign Up" %}</button>
      </div>
    </form>
  </div>
  <!-- image -->
  <div class="d-none col-md-6 d-md-block">
    <img class="img-fluid" src="{% static 'images/person_riding_bicycle.jpg' %}" alt="Person Riding Bicycle">
  </div>
</div>

{% endblock %}