{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container-fluid mb-1">
  <div class="row">
    <div class="col">
      <hr>
      <h2 class="logo-font mb-1 mb-lg-4">Shopping Cart</h2>
    </div>
  </div>

  {% if not bag_items %}
    <div class="container">
      <p class="lead mb-5">Your cart is empty.</p>
      <a href="{% url 'products' %}" class="btn btn-outline-white rounded-0 btn-lg">
        <span class="icon">
          <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
      </a>
    </div>
  {% else %}
    <div class="row">
      <!-- Products list -->
      <div class="col-12 order-1 order-lg-0 col-lg-8">
        {% for item in bag_items %}
          <!-- Row for each item -->
          <div class="row bg-light py-2 mb-1">

            <!-- Product Image -->
            <div class="col-4 d-flex align-items-center">
              {% if item.product.image %}
              <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
              {% else %}
                <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
              {% endif %}
            </div>

            <div class="col-8">
              <div class="row">
                <!-- Product info -->
                <div class="col-12 col-xl-5 mt-4 d-flex flex-column justify-content-center">
                  <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                  <p class="my-0 small text-muted">sku: {{ item.product.sku|lower }}</p>
                  <p class="my-0">Size: {% if item.product.sizes %}{{ item.size.friendly_name }}{% else %}N/A{% endif %}</p>
                  <p class="my-0">Color: {% if item.product.color %}{{ item.color.friendly_name }}{% else %}N/A{% endif %}</p>
                </div>

                <!-- Forms -->
                <div class="col-12 col-xl-7 text-xl-center d-flex align-items-center justify-content-xl-center">
                  <div class="row mt-3 mt-xl-5">
                    <div class="col">
                      {% if item.product_size_obj.count > 0 %}
                      <!-- Quantity form -->
                      <form class="form update-form" action="{% url 'adjust_bag' item.product_size_id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                          <div class="input-group-prepend">
                            <input class="form-control form-control-sm qty_input" type="number" name="quantity" value="{{ item.quantity }}"
                              min="1" max="{{ item.product_size_obj.count }}" data-product_size_id="{{ item.product_size_id }}"
                              id="id_qty_{{ item.product_size_id }}" style="min-width: 50px; max-width: 60px;">
                            <!-- submit -->
                            <div class="input-group-append">
                              <button type="submit" class="btn btn-sm btn-outline-white rounded-0">
                                <i class="fas fa-sync-alt"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                      {% else %}
                      <p class="text-danger">No longer available</p>
                      {% endif %}
                    </div>
                    <!-- Subtotal -->
                    <div class="col d-flex align-items-center">
                      {% if item.product_size_obj.count > 0 %}
                      <p>&euro;{{ item.product.price | calc_subtotal:item.quantity }}</p>
                      {% else %}
                      <p>&euro;0.00</p>
                      {% endif %}
                    </div>
                    <!-- Remove item -->
                    <div class="col-12 col-sm-auto">
                      <button class="btn btn-sm btn-outline-white border-danger rounded-0 remove-item" id="remove_{{ item.product_size_id }}">
                        <span class="d-sm-none">
                          <small>Remove</small>
                        </span>
                        <i class="fas fa-trash-alt text-danger"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- ./forms -->
              </div>
            </div>

          </div>
          <!-- ./row for each item -->
        {% endfor %}
      </div>
      <!-- ./products list -->

      <!-- Summary -->
      <div class="col-12 col-lg-4 my-3">
        <div class="container">
          <!-- Header -->
          <div class="row">
            <div class="col">
              <h4><strong>Summary</strong></h4>
            </div>
          </div>
          <!-- Summary -->
          <div class="row mt-2">
            <div class="col">
              <table class="table table-borderless table-sm">
                <tr class="mb-2">
                  <td class="pr-3">Cart Total</td>
                  <td class="text-right">&euro;{{ total|floatformat:2 }}</td>
                </tr>
                <tr class="mb-2">
                  <td class="pr-3">Delivery</td>
                  <td class="text-right">&euro;{{ delivery|floatformat:2 }}</td>
                </tr>
                <tr class="mb-2">
                  <td class="pr-3"><strong>Grand Total</strong></td>
                  <td class="text-right"><strong>&euro;{{ grand_total|floatformat:2 }}</strong></td>
                </tr>
                {% if free_delivery_delta > 0 %}
                <tr>
                  <td colspan="2" class="text-danger">
                    You could get free delivery by spending just <strong>&euro;{{ free_delivery_delta|floatformat:2 }}</strong> more!
                  </td>
                </tr>
                {% endif %}
              </table>
            </div>
          </div>
          <!-- Checkout button -->
          <div class="row mt-3">
            <div class="col text-center">
              <a href="{% url 'checkout' %}" id="checkout-button" class="btn w-100 btn-black bg-success rounded-0 btn-lg">
                <span class="icon">
                  <i class="fas fa-lock"></i>
                </span>
                <span class="text-center">Secure Checkout</span>
                <span>
                  <i class="fas fa-chevron-right"></i>
                </span>
              </a>
              <a href="{% url 'products' %}" class="btn w-100 btn-outline-white rounded-0 btn-lg">
                <span class="icon">
                  <i class="fas fa-store"></i>
                </span>
                <span class="text-center">Keep Shopping</span>
                <span>
                  <i class="fas fa-chevron-left"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- ./summary -->
    </div>
  {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
  {{ block.super }}
  <script type="text/javascript">
    $('.btt-link').click(function (e) {
      window.scrollTo(0, 0)
    })
  </script>

  <script type="text/javascript">
    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        const csrfToken = "{{ csrf_token }}";
        const productSizeId = $(this).attr('id').split('remove_')[1];
        const url = `/bag/remove/${productSizeId}`;
        const data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
          .done(function() {
              location.reload();
          });
    })
  </script>
{% endblock %}