#value-proposition-container .card {
  background: #ffffff;;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

#value-proposition-container .card--border-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 3%;
  border-radius: 0px 0px 15px 15px;
}

#value-proposition-container .fa-balance-scale {
  color: #FFD700;
}
#value-proposition-container .card--icon:has(.fa-balance-scale) ~ .card--border-top {
  background: #FFD700;
}

#value-proposition-container .fa-ruler {
  color: #AEDFF7;
}
#value-proposition-container .card--icon:has(.fa-ruler) ~ .card--border-top {
  background: #AEDFF7;
}

#value-proposition-container .fa-shield-alt {
  color: #A8E6CF;
}
#value-proposition-container .card--icon:has(.fa-shield-alt) ~ .card--border-top {
  background: #A8E6CF;
}

#value-proposition-container .fa-certificate {
  color: #D1B2FF;
}
#value-proposition-container .card--icon:has(.fa-certificate) ~ .card--border-top {
  background: #D1B2FF;
}

/* Owl carousel */
.owl-carousel .card {
  overflow: hidden;
}

.owl-stage {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.owl-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto !important;
}

/* Corner ribbon */
/* https://codepen.io/miroot/pen/YzXOxW */
.corner-ribbon {
  padding-top: 1px;
  padding-bottom: 1px;
  position: absolute;
  text-align: center;
  color: #fff;

  width: 150px;
  right: -40px;
  top: 20px;
  transform: rotate(45deg);
  background-color: #79C3CC;
}
