/* Breakpoints
sm: 576px;
md: 768px;
lg: 992px;
xl: 1200px;
*/

body {
  font-family: "Montserrat", sans-serif;
}

/* Global */
.bg-black {
  background-color: black;
}

.text-black {
  color: black !important;
}

.btn-black {
  color: white;
  background-color: #000000;
}

.btn-white {
  color: black;
  background-color: #ffffff;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus,
.btn-white:active:focus {
  background-color: black;
  color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus,
.btn-black:active:focus {
  background-color: white;
  color: black;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #000000;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}


/* ___HOME__ */

/* Navbar */
#main-navbar .nav-item a:hover, .nav-link:hover {
  color: rgb(71, 90, 95) !important;
}

@media (max-width: 576px) {
  #delivery-banner {
    font-size: 16px;
  }
  #main-navbar .list-inline-item a {
    font-size: 16px;
    padding: 0.5rem 0.5rem;
  }
}

/* Hero section */
.callout-container {
  height: 70vh;
  background: url("/media/hero_img.png") no-repeat fixed;
  background-position: left top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  justify-content: end;
  align-items: center;

  position: relative;
}

/* Mobile */
@media (max-width: 576px) {
  .callout-container {
    background-position: center;
    justify-content: center;
  }
}

/* The opaque overlay, which is used to darken the background image */
.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.contant-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.btn--cta {
  font-weight: bold;
  width: 160px;
}
/* hero section */
