/* Breakpoints
sm: 576px;
md: 768px;
lg: 992px;
xl: 1200px;
*/

:root {
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;
}


body {
  font-family: "Montserrat", sans-serif;
}

/* Global */
.bg-black {
  background-color: black;
}

.text-black {
  color: black !important;
}

.btn-black {
  color: white;
  background-color: #000000;
}

.btn-outline-white {
  background: white;
  color: black !important; /* use important to override link colors for <a> elements */
  border: 1px solid black;
}

.btn-outline-white:hover {
  background: black;
  color: white !important;
  border: 1px solid black;
}

.btn-outline-white:hover,
.btn-outline-white:active,
.btn-outline-white:focus,
.btn-outline-white:active:focus {
  background-color: black;
  color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus,
.btn-black:active:focus {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.btn-black:disabled,
.btn-black:disabled:hover,
.btn-black:disabled:active,
.btn-black:disabled:focus,
.btn-black:disabled:active:focus,
.btn-outline-black:disabled,
.btn-outline-black:disabled:hover,
.btn-outline-black:disabled:active,
.btn-outline-black:disabled:focus,
.btn-outline-black:disabled:active:focus,
.btn-outline-white:disabled,
.btn-outline-white:disabled:hover,
.btn-outline-white:disabled:active,
.btn-outline-white:disabled:focus {
  border-color: #c6c6c6 !important;
  background-color: #c6c6c6 !important;
  color: #fff !important;
  box-shadow: none !important;
  cursor: default !important;
}

.form-control:focus, .btn:focus {
  color: #495057;
  border-color: #000000;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.horizontal-shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

/* Custom Bootstrap Toasts */

.message-container {
  position: absolute;
  top: 107px;
  right: 20px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* ___HOME__ */

/* Navbar */
#main-navbar .nav-item a:hover,
.nav-link:hover {
  color: rgb(71, 90, 95) !important;
}

@media (max-width: 576px) {
  #delivery-banner {
    font-size: 16px;
  }
  #main-navbar .list-inline-item a {
    font-size: 16px;
    padding: 0.5rem 0.5rem;
  }
}

.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #bdbdbe !important;
}

/* Hero section */
.callout-container {
  height: 70vh;
  background: url("/media/hero_img.png") no-repeat fixed;
  background-position: left top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  justify-content: end;
  align-items: center;

  position: relative;
}

/* Mobile */
@media (max-width: 576px) {
  .callout-container {
    background-position: center;
    justify-content: center;
  }
}

/* The opaque overlay, which is used to darken the background image */
.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.contant-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.btn--cta {
  font-weight: bold;
  width: 160px;
}

/* ___Products__ */

/* Product list card header */
.brand-badge {
  font-size: 14px;
}

.color-badge {
  border: #c6c6c6 1px solid;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

/* Product list card image */
.card-img-top {
  width: 100%;
  height: 15rem;
  object-fit: contain;
}

.color-list:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

/* Scroll to top button */
.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}

.btt-button:hover {
  box-shadow: none !important;
}
.btt-link:hover {
  text-decoration: none;
}

/* Product Detail */
.sizes label.radio {
  cursor: pointer;
}
.sizes label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}
.sizes label.radio span {
  padding: 2px 9px;
  border: 1px solid #000;
  box-shadow: 0 0 2px 0 #000 inset;
  display: inline-block;
  color: #000;
  border-radius: 3px;
  text-transform: uppercase;
}

.sizes label.radio input:hover + span {
  box-shadow: none ;
}

.sizes label.radio input:checked + span {
  border-color: var(--success);
  background-color: var(--success);
  color: #fff;
  box-shadow: none;
}

.sizes input[type="radio"]:disabled + span {
  border-color: #c6c6c6;
  background-color: #c6c6c6;
  color: #fff;
  box-shadow: none;
  cursor: default;
}

.sizes .alert {
  width: fit-content !important;
  position: relative;
  padding: 0.2rem 0.7rem;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 0;
}
